

$fontsize-header:39px;


$color--White:#ffffff;
$text-align: center;
$float--left: left;
$float--right: right;
$margin--0Auto: 0px auto;
$position--Relative: relative;
$position--Absolute: absolute;