.footer{
    width: 100%;
    margin: 0 auto;
    font-size: 16px;
    text-align: center;
    margin-top: 35px;
    border-top: 1px solid rgb(163, 155, 155);
    border-bottom: 1px solid rgb(163, 155, 155);

}

.footerpara{
    padding: 20px 0px;
}